:root, html, body, div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 300;
	line-height: 0;
	font-size: 16px;
	--main-color: #858585;
	--secondary-color: #444444;
	--shadow-color: #4444444d;
}

p,h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	line-height: 0;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: clamp(600px, 100vh, 800px);
	width: 100%;
	padding: 15px;
}

h1 {
	line-height: 15px;
	font-weight: 500;
	font-size: 1.3rem;
}

h2, h3 {
	line-height: 10px;
	font-weight: 500;
	font-size: 1.1rem;
}

h3 {
	font-size: 1rem;
}

button {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

.hidden {
	display: none !important;
}

.content-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	width: 375px;
	border: solid 3px var(--shadow-color);
	border-radius: 5px;
}

.dynamic-content-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding-bottom: 15px;
}

.header {
	max-height: 100px;
	align-items: center;
	padding: 15px;
	display: flex;
	flex-grow: 1;
	margin-bottom: 15px;
	border-bottom: solid 3px var(--shadow-color);
}

.left-nav {
	min-width: 300px;
	padding: 15px;
	flex-shrink: 1;
	border-radius: 3px;
	display: none;
}

.game-container {
	height: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.game-screen {
	border: solid var(--shadow-color) 2px;
	box-shadow: inset 0px 0px 5px -1px var(--shadow-color);
	border-radius: 5px;
	margin: 0 15px;
	padding: 15px;
	max-height: 800px;
	flex-grow: 1;
}

.button-container {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	margin: 15px  15px 0 15px;
}

.controller-btn {
	width: calc((100%/3) - 7.5px);
	padding: 15px;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 30px;
	background-color: #6494ed;
	color: #ffffff;
}

.ui-btn-container {
	display: flex;
	justify-content: flex-end;
}

.ui-btn {
	border-radius: 100%;
	background-color: #6494ed;
	padding: 5px;
	color: white;
}

.controller-btn:hover, .ui-btn:hover {
	background-color:#4f7fd8;
}

